<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      En panaderia Concho se elabora pan artesanal con tradicion europea desde hace 5 años en la ciudad de Yuriria, Gto. México, utilizando unicamente ingredientes de la mas alta calidad que son seleccionados por sus fundadores, el Chef Juan Carlos Arredondo y el Chef Francisco Gámez
    </p>
  </div>
  <div align ="center">
    <img src="/img/logo4.png" width="300" height="300">
  </div>
</section>
